.env
*.log
.DS_Store
chat.md
leet.py

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.bin

# Output of the go coverage tool
*.out

# Go workspace file
go.work

# Added by cargo

/target
